@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';

.Categorias-btns,
.Categorias-btns:before,
.Categorias-btns.fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.35, -0.105, 0.43, 1.59);
}

.brand-logo {
  width: 50px;
  height: 50px;
  /* position: absolute;  */
  margin-top: -3%;
  margin-left: -25;
  /* background-color: black; */
}


.Categorias-btns {
  /* box-shadow: 10px 10px 10px 10px rgba(147, 147, 147, 0.2); */
  max-width: 700px;
  margin: 5px;
  margin-top: 30px;
  border-radius: 0;
  text-align: center;
  font-family: Arial;
  top: 90%;
}

.Categorias-btns:before {
  top: 90%;
  left: -100%;
}

.Categorias-btns.fa {
  transform: scale(0.8);
}

.Categorias-btns:before {
  background-color: rgba(138, 119, 56, 0.608);
}

.Categorias-btns:focus:before,
.Categorias-btns:hover:before {
  top: -5px;
  left: -5%;
}

.Categorias-btns:focus.fa,
.Categorias-btns:hover.fa {
  color: #fff;
  transform: scale(50);
}

.Categorias-btns:before {
  content: '';
  width: 15%;
  height: 70%;
  position: absolute;
  transform: rotate(90deg);
}

/* .Categorias-btn.{
  content: '';
  width: 20%;
  height: 100%;
  position: absolute;
  transform: rotate(90deg);
} */

.Categorias-btns:hover.fa {
  font-size: 3px;
  vertical-align: middle;
}


.Menu {
  margin: auto;
  text-align: center;
  font-family: Arial;
}

