.nav-wrapper{
    background-color: #1a120b;
}

.acciones{
    margin-top: 5%;
    margin-bottom: 5%;
}

.salir:hover{
    background-color: #FFD56F;
}

.guardar:hover{
    background-color: #68B984;
}