<!DOCTYPE html>
<!-- definicion del lenguaje del sitio -->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../resources/css/diseño_priv.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../resources/css/dashboard.css" media="screen,projection" />

    <!--Titulo de pagina-->
    <title>Categorias</title>
</head>

<body>
    <!-- header del sitio -->
    <header>
        <!-- etiqueta para menu -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="main.html" class="brand-logo"><img src="../../resources/img/logos/2.png" alt=""></a>
                    <a href="#" data-target="menu-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Inicio de la página"><i
                                    class="material-icons">arrow_upward</i></a></li>
                        <li><a href="login.html" class="tooltipped" data-position="bottom"
                                data-tooltip="Perfil del usuario"><i class="material-icons">account_circle</i></a></li>
                    </ul>
                </div>
            </nav>
            <!-- menu para dispositivos con pantalla pequeña -->
            <ul class="sidenav" id="menu-mobile">
                <li><a href="catalogue.html">Catalogo</a></li>
                <li><a href="shopping_cart.html">Carrito</a></li>
                <li><a href="login.html">Cuenta</a></li>
            </ul>
        </div>
    </header>


    <main>
        <!-- contenedor para acciones de busqueda y agregar -->
        <div class="container acciones">
            <div class="row">
                <div class="col s10 m8 offset-m1">
                    <nav>
                        <!-- barra de busqueda -->
                        <div class="nav-wrapper">
                            <form id="search-form">
                                <div class="input-field">
                                    <input char id="search" type="search" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
                <div class="col s2 m2">
                    <!-- boton de agregar -->
                    <a onclick="openCreate()" class="waves-effect waves-light btn-large tooltipped"
                        data-position="right" data-tooltip="Agregar una categoria"><i
                            class="material-icons">person_add</i></a>
                </div>
            </div>
        </div>
        <!-- Tabla de pedidos -->
        <div class="container">
            <div class="row">
                <div class="col m12 tabla">
                    <table class="responsive-table highlight ">
                        <thead>
                            <!-- Contenido de tabla -->
                            <tr id="records"></tr>
                            <tr>
                                <th>id</th>
                                <th>Categoria</th>
                            </tr>
                        </thead>
                        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                        <tbody id="tbody-rows"></tbody>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <!-- Ventana modal Detalle de pedido -->
        <div id="save-modal" class="modal">
            <div class="modal-content">
                <h4 id="modal-title"></h4>
                <div class="row">
                    <form class="col s12" method="post" id="save-form" enctype="multipart/form-data">
                        <input class="hide" type="number" id="id" name="id">
                        <div class="row">
                            <!--Text imput Productos -->
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">note_add</i>
                                <input id="nombre" type="text" name="nombre" class="validate" required>
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="col s12 center-align">
                                <div class="modal-footer">
                                    <button type="close" class=" modal-close btn tooltipped"
                                        data-tooltip="Regresar">Descartar</button>
                                    <button type="submit" class=" btn  tooltipped"
                                        data-tooltip="Guardar">Guardar</button>
                                    <!-- <button type="submit" class=" btn  tooltipped"
                                        data-tooltip="Agregar">Agregar</button> -->
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="page-footer bottom-0">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <a href="about-us.html">
                        <h5 class="white-text">Dashboard footer</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class=" footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/dnlhernandez_"
                    target="_blank">More
                    Links</a>
            </div>
        </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../resources/js/inicializar_dashboard.js"></script>
    <script type="text/javascript" src="../../contollers/components.js"></script>
    <script type="text/javascript" src="../../contollers/dashboard/categories.js"></script>
</body>

</html>