<!DOCTYPE html>
<!-- deficion del lenguaje del sitio -->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.min.css" media="screen,projection" />
    <!-- importacion de css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/dashboard.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- titulo de la pagina -->
    <title>Clientes</title>
</head>

<body>
    <!-- header del sitio -->
    <header>
        <!-- manu del sitio -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img src="../../resources/img/2.png" alt=""></a>
                    <a href="#" data-target="menu-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Inicio de la página"><i
                                    class="material-icons">arrow_upward</i></a></li>
                        <li><a href="login.html" class="tooltipped" data-position="bottom"
                                data-tooltip="Perfil del usuario"><i class="material-icons">account_circle</i></a></li>
                    </ul>
                </div>
            </nav>
            <!-- menu para dispositivos con pantalla pequeña -->
            <ul class="sidenav" id="menu-mobile">
                <li><a href="catalogue.html">Catalogo</a></li>
                <li><a href="shopping_cart.html">Carrito</a></li>
                <li><a href="login.html">Cuenta</a></li>
            </ul>
        </div>
    </header>
    <!-- contenido del sitio -->
    <main>
        <!-- contenedor para acciones de busqueda y agregar -->
        <div class="container acciones">
            <div class="row">
                <div class="col s10 m8 offset-m1">
                    <nav>
                        <!-- barra de busqueda -->
                        <div class="nav-wrapper">
                            <form>
                                <div class="input-field">
                                    <input char id="search" name="search" type="search" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
                <div class="col s2 m2">
                    <!-- boton de agregar -->
                    <a href="#modal-clientes" class="waves-effect waves-light btn-large tooltipped modal-trigger"
                        data-position="right" data-tooltip="Agregar un cliente"><i
                            class="material-icons">person_add</i></a>

                            <a onclick="openReport()" class="waves-effect waves-light amber btn-large tooltipped modal-trigger"
                        data-position="right" data-tooltip="Agregar un usuario">
                        <i class="material-icons">assignment</i>
                    </a>
                </div>
            </div>
        </div>
        <!-- contenedor para ventana modal de scrud clientes-->
        <div class="container">
            <!-- contenido de ventana modal -->
            <div id="modal-clientes" class="modal">
                <div class="modal-content">
                    <div class="row">
                        <!-- textbox nombres -->
                        <div class="input-field col s12 m6">
                            <input id="nombre" type="text">
                            <label for="nombre">Nombres</label>
                        </div>
                        <!-- textbox apellidos -->
                        <div class="input-field col s12 m6">
                            <input id="apellido" type="text">
                            <label for="apellido">Apellidos</label>
                        </div>
                        <!-- textbox dui -->
                        <div class="input-field col s12 m3">
                            <input id="dui" type="text" maxlength="10">
                            <label for="dui">DUI</label>
                        </div>
                        <!-- textbox correo -->
                        <div class="input-field col s12 m6">
                            <input id="correo" type="email">
                            <label for="correo">Correo</label>
                        </div>
                        <!-- textbox telefono -->
                        <div class="input-field col s12 m3">
                            <input id="telefono" type="text" maxlength="9">
                            <label for="telefono">Teléfono</label>
                        </div>
                        <!-- cmb genero -->
                        <div class="input-field col s12 m6">
                            <select>
                                <option value="" disabled selected>Seleccione el genero</option>
                                <option value="1">Femenino</option>
                                <option value="2">Masculino</option>
                            </select>
                            <label>Genero</label>
                        </div>
                        <!-- cmb tipo de cliente -->
                        <div class="input-field col s12 m6">
                            <select>
                                <option value="" disabled selected>Seleccione el tipo de cliente</option>
                                <option value="1">Estandar</option>
                                <option value="2">Afiliado</option>
                            </select>
                            <label>Tipo de cliente</label>
                        </div>
                        <!-- boton para subir foto -->
                        <div class="col s12 m12">
                            <form action="#">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <i class="material-icons">file_upload</i>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- textbox usaurio -->
                        <div class="input-field col s12 m6">
                            <input id="usuario" type="text">
                            <label for="usuario">Usuario</label>
                        </div>
                        <!-- textbox clave -->
                        <div class="input-field col s12 m6">
                            <input id="clave" type="password">
                            <label for="clave">Clave</label>
                        </div>
                    </div>
                </div>
                <!-- footer de ventana modal -->
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat tooltipped guardar"
                        data-position="bottom" data-tooltip="Guardar cambios"><i class="material-icons">save</i></a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat tooltipped salir"
                        data-position="bottom" data-tooltip="Salir sin guardar cambios"><i
                            class="material-icons">exit_to_app</i></a>
                </div>
            </div>
        </div>
        <!-- contenedor para tabla -->
        <div class="container">
            <div class="row">
                <div class="col m12">
                    <table class="responsive-table highlight">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>DUI</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Genero</th>
                                <th>Tipo de cliente</th>
                                <th>Usuario</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <!-- contenido de tabla -->
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Daniel</td>
                                <td>Hernández</td>
                                <td>12345678-9</td>
                                <td>daniel123hernandez15@gmail.com</td>
                                <td>7053-7276</td>
                                <td>Masculino</td>
                                <td>Estandar</td>
                                <td>admin</td>
                                <td><a href="#modal-clientes"
                                        class="waves-effect waves-light btn modal-trigger tooltipped"
                                        data-position="top" data-tooltip="Editar"><i
                                            class="material-icons">create</i></a></td>
                                <td><a class="waves-effect waves-light btn tooltipped" data-position="top"
                                        data-tooltip="Eliminar"><i class="material-icons">delete</i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Daniel</td>
                                <td>Hernández</td>
                                <td>12345678-9</td>
                                <td>daniel123hernandez15@gmail.com</td>
                                <td>7053-7276</td>
                                <td>Masculino</td>
                                <td>Estandar</td>
                                <td>admin</td>
                                <td><a href="#modal-clientes"
                                        class="waves-effect waves-light btn modal-trigger tooltipped"
                                        data-position="top" data-tooltip="Editar"><i
                                            class="material-icons">create</i></a></td>
                                <td><a class="waves-effect waves-light btn tooltipped" data-position="top"
                                        data-tooltip="Eliminar"><i class="material-icons">delete</i></a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Daniel</td>
                                <td>Hernández</td>
                                <td>12345678-9</td>
                                <td>daniel123hernandez15@gmail.com</td>
                                <td>7053-7276</td>
                                <td>Masculino</td>
                                <td>Estandar</td>
                                <td>admin</td>
                                <td><a href="#modal-clientes"
                                        class="waves-effect waves-light btn modal-trigger tooltipped"
                                        data-position="top" data-tooltip="Editar"><i
                                            class="material-icons">create</i></a></td>
                                <td><a class="waves-effect waves-light btn tooltipped" data-position="top"
                                        data-tooltip="Eliminar"><i class="material-icons">delete</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <!-- footer del sitio -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <a href="about-us.html">
                        <h5 class="white-text">Dashboard footer</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class=" footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/dnlhernandez_"
                    target="_blank">More
                    Links</a>
            </div>
        </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../resources/js/inicializar_dashboard.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/dashboard/account.js"></script>
    <script type="text/javascript" src="../../controllers/dashboard/customers.js"></script>
</body>

</html>