<!DOCTYPE html>
<!-- deficion del lenguaje del sitio -->
<html lang="es">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/resources/css/materialize.min.css" media="screen,projection" />
  <!-- importacion de css -->
  <link type="text/css" rel="stylesheet" href="/resources/css/dashboard.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- titulo de la pagina -->
  <title>Empleados</title>
</head>

<body>
  <!-- etiqueta para encabezado del sitio -->
  <header>
    <!-- etiqueta para menu -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="main.html" class="brand-logo"><img src="/resources/img/2.png" alt=""></a>
          <a href="#" data-target="menu-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Inicio de la página"><i
                  class="material-icons">arrow_upward</i></a></li>
            <li><a href="login.html" class="tooltipped" data-position="bottom" data-tooltip="Perfil del usuario"><i
                  class="material-icons">account_circle</i></a></li>
          </ul>
        </div>
      </nav>
      <!-- menu para dispositivos con pantalla pequeña -->
      <ul class="sidenav" id="menu-mobile">
        <li><a href="catalogue.html">Catalogo</a></li>
        <li><a href="shopping_cart.html">Carrito</a></li>
        <li><a href="login.html">Cuenta</a></li>
      </ul>
    </div>
  </header>
  <!-- etiqueta para contenido principal -->
  <main>
    <!-- contenedor para acciones de busqueda y boton agregar-->
    <div class="container acciones">
      <div class="row">
        <div class="col s10 m8 offset-m1">
          <!-- barra de busqueda -->
          <nav>
            <div class="nav-wrapper">
              <form>
                <div class="input-field">
                  <input char id="search" type="search" required>
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </nav>
        </div>
        <!-- boton de agregar -->
        <div class="col s2 m2">
          <a href="#modal-clientes" class="waves-effect waves-light btn-large tooltipped modal-trigger"
            data-position="right" data-tooltip="Agregar un cliente"><i class="material-icons">person_add</i></a>
        </div>
      </div>
    </div>
    <!-- contenedor para ventana modal de scrud empleados-->
    <div class="container">
      <div id="modal-empleados" class="modal">
        <div class="modal-content">
          <div class="row">
            <!-- titulo -->
            <h5 class="center">Empleados</h5>
            <!-- textbox nombres -->
            <div class="input-field col s12 m6">
              <input id="nombre" type="text">
              <label for="nombre">Nombres</label>
            </div>
            <!-- textbox apellidos -->
            <div class="input-field col s12 m6">
              <input id="apellido" type="text">
              <label for="apellido">Apellidos</label>
            </div>
            <!-- textbox dui -->
            <div class="input-field col s12 m3">
              <input id="dui" type="text" maxlength="10">
              <label for="dui">DUI</label>
            </div>
            <!-- textbox correo -->
            <div class="input-field col s12 m6">
              <input id="correo" type="email">
              <label for="correo">Correo</label>
            </div>
            <!-- textbox telefono -->
            <div class="input-field col s12 m3">
              <input id="telefono" type="text" maxlength="9">
              <label for="telefono">Teléfono</label>
            </div>
            <!-- cmb genero -->
            <div class="input-field col s12 m6">
              <select>
                <option value="" disabled selected>Seleccione el genero</option>
                <option value="1">Femenino</option>
                <option value="2">Masculino</option>
              </select>
              <label>Genero</label>
            </div>
            <!-- cmb cargo -->
            <div class="input-field col s12 m6">
              <select>
                <option value="" disabled selected>Seleccione el cargo</option>
                <option value="1">Gerente general</option>
                <option value="2">Asistente de gerencia</option>
                <option value="3">Carpinteria general</option>
                <option value="3">Mozo de almacén</option>
                <option value="3">Encargado de limpieza</option>
              </select>
              <label>Cargo</label>
            </div>
            <!-- boton para subir foto -->
            <div class="col s12 m12">
              <form action="#">
                <div class="file-field input-field">
                  <div class="btn">
                    <i class="material-icons">file_upload</i>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- footer de ventana modal -->
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat tooltipped guardar" data-position="bottom"
              data-tooltip="Guardar cambios"><i class="material-icons">save</i></a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat tooltipped eliminar"
              data-position="bottom" data-tooltip="Eliminar registro"><i class="material-icons">delete</i></a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat tooltipped salir" data-position="bottom"
              data-tooltip="Salir sin guardar cambios"><i class="material-icons">exit_to_app</i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- contenedor para cartas de empleados -->
    <div class="container">
      <div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="/resources/img/perfil.jpg">
              <a href="#modal-empleados" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i
                  class="material-icons">create</i></a>
            </div>
            <div class="card-content">
              <p>Diego André Parada Asencio</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="/resources/img/perfil.jpg">
              <a href="#modal-empleados" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i
                  class="material-icons">create</i></a>
            </div>
            <div class="card-content">
              <p>Diego André Parada Asencio</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="/resources/img/perfil.jpg">
              <a href="#modal-empleados" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i
                  class="material-icons">create</i></a>
            </div>
            <div class="card-content">
              <p>Diego André Parada Asencio</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="/resources/img/perfil.jpg">
              <a href="#modal-empleados" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i
                  class="material-icons">create</i></a>
            </div>
            <div class="card-content">
              <p>Diego André Parada Asencio</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="/resources/img/perfil.jpg">
              <a href="#modal-empleados" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i
                  class="material-icons">create</i></a>
            </div>
            <div class="card-content">
              <p>Diego André Parada Asencio</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="/resources/img/perfil.jpg">
              <a href="#modal-empleados" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i
                  class="material-icons">create</i></a>
            </div>
            <div class="card-content">
              <p>Diego André Parada Asencio</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="/resources/img/perfil.jpg">
              <a href="#modal-empleados" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i
                  class="material-icons">create</i></a>
            </div>
            <div class="card-content">
              <p>Diego André Parada Asencio</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="/resources/img/perfil.jpg">
              <a href="#modal-empleados" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i
                  class="material-icons">create</i></a>
            </div>
            <div class="card-content">
              <p>Diego André Parada Asencio</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- footer del sitio -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <a href="about-us.html">
            <h5 class="white-text">Dashboard footer</h5>
          </a>
        </div>
      </div>
    </div>
    <div class=" footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/dnlhernandez_" target="_blank">More
          Links</a>
      </div>
    </div>
  </footer>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/resources/js/materialize.min.js"></script>
  <script type="text/javascript" src="/resources/js/dashboard.js"></script>
</body>

</html>