  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/resources/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/resources/css/dashboard/employees.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Empleados</title>
    </head>

    <body>
        <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper">
                      <a href="#" class="brand-logo"><img src="/resources/img/2.png" alt="" width="80px" height="80px"></a>
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Inicio de la página"><i class="material-icons">arrow_upward</i></a></li>        
                        <li><a href="login.html" class="tooltipped" data-position="bottom" data-tooltip="Perfil del usuario"><i class="material-icons">account_circle</i></a></li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </header>
        <main>
            <div class="container acciones">
                <div class="row">
                    <div class="col s12 m10">  
                        <nav>
                          <div class="nav-wrapper">
                            <form>
                              <div class="input-field">
                                <input char id="search" type="search" required maxlength="80">
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                              </div>
                            </form>
                          </div>
                        </nav>
                    </div>
                    <div class="col m2">
                      <a href="#modal-prueba" class="waves-effect waves-light btn-large modal-trigger">Añadir</a>
                    </div>
                </div>
            </div>
            <div class="container">
              <div id="modal-prueba" class="modal">
                <div class="modal-content">
                    <div class="row">
                      <div class="input-field col s12 m6">
                        <input id="nombre" type="text">
                        <label for="nombre">Nombres</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <input id="apellido" type="text">
                        <label for="apellido">Apellidos</label>
                      </div>
                      <div class="input-field col s12 m3">
                        <input id="dui" type="text" maxlength="10">
                        <label for="dui">DUI</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <input id="correo" type="text">
                        <label for="correo">Correo</label>
                      </div>
                      <div class="input-field col s12 m3">
                        <input id="telefono" type="text" maxlength="9">
                        <label for="telefono">Teléfono</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <select>
                          <option value="" disabled selected>Seleccione el genero</option>
                          <option value="1">Femenino</option>
                          <option value="2">Masculino</option>
                        </select>
                        <label>Genero</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <select>
                          <option value="" disabled selected>Seleccione el cargo</option>
                          <option value="1">Gerente general</option>
                          <option value="2">Asistente de gerencia</option>
                          <option value="3">Carpinteria general</option>
                          <option value="3">Mozo de almacén</option>
                          <option value="3">Encargado de limpieza</option>
                        </select>
                        <label>Cargo</label>
                      </div>
                      <div class="input-field col s12 m9">
                        <input id="ruta" type="text">
                        <label for="ruta">Ruta de imagen</label>
                      </div>
                      <div class="col s4 m3 offset-s4">
                        <a class="waves-effect waves-light btn-large">Subir imagen</a>
                      </div>
                    </div> 
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat salir">Salir</a>
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat guardar">Guardar cambios</a>
                </div>
              </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 m3">
                        <div class="card">
                          <div class="card-image">
                            <img src="/resources/img/perfil.jpg">
                            <a href="#modal-prueba" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i class="material-icons">create</i></a>
                          </div>
                          <div class="card-content">
                            <p>Diego André Parada Asencio</p>
                          </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card">
                          <div class="card-image">
                            <img src="/resources/img/perfil.jpg">
                            <a href="#modal-prueba" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i class="material-icons">create</i></a>
                          </div>
                          <div class="card-content">
                            <p>Diego André Parada Asencio</p>
                          </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card">
                          <div class="card-image">
                            <img src="/resources/img/perfil.jpg">
                            <a href="#modal-prueba" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i class="material-icons">create</i></a>
                          </div>
                          <div class="card-content">
                            <p>Diego André Parada Asencio</p>
                          </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card">
                          <div class="card-image">
                            <img src="/resources/img/perfil.jpg">
                            <a href="#modal-prueba" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i class="material-icons">create</i></a>
                          </div>
                          <div class="card-content">
                            <p>Diego André Parada Asencio</p>
                          </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card">
                          <div class="card-image">
                            <img src="/resources/img/perfil.jpg">
                            <a href="#modal-prueba" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i class="material-icons">create</i></a>
                          </div>
                          <div class="card-content">
                            <p>Diego André Parada Asencio</p>
                          </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card">
                          <div class="card-image">
                            <img src="/resources/img/perfil.jpg">
                            <a href="#modal-prueba" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i class="material-icons">create</i></a>
                          </div>
                          <div class="card-content">
                            <p>Diego André Parada Asencio</p>
                          </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card">
                          <div class="card-image">
                            <img src="/resources/img/perfil.jpg">
                            <a href="#modal-prueba" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i class="material-icons">create</i></a>
                          </div>
                          <div class="card-content">
                            <p>Diego André Parada Asencio</p>
                          </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card">
                          <div class="card-image">
                            <img src="/resources/img/perfil.jpg">
                            <a href="#modal-prueba" class="halfway-fab waves-effect waves-light red btn-floating modal-trigger"><i class="material-icons">create</i></a>
                          </div>
                          <div class="card-content">
                            <p>Diego André Parada Asencio</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/js/materialize.min.js"></script>
      <script type="text/javascript" src="/js/dashboard.js"></script>
    </body>
  </html>