<!DOCTYPE html>
<!-- definicion del lenguaje del sitio -->
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->

  <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../../resources/css/diseño_priv.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../../resources/css/dashboard.css" media="screen,projection" />

  <!--Titulo de pagina-->
  <title>Pedidos</title>
</head>

<body>
  <!-- header del sitio -->
  <header>
    <!-- etiqueta para menu -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="main.html" class="brand-logo"><img src="../../resources/img/2.png" alt=""></a>
          <a href="#" data-target="menu-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Inicio de la página"><i
                  class="material-icons">arrow_upward</i></a></li>
            <li><a href="login.html" class="tooltipped" data-position="bottom" data-tooltip="Perfil del usuario"><i
                  class="material-icons">account_circle</i></a></li>
          </ul>
        </div>
      </nav>
      <!-- menu para dispositivos con pantalla pequeña -->
      <ul class="sidenav" id="menu-mobile">
        <li><a href="catalogue.html">Catalogo</a></li>
        <li><a href="shopping_cart.html">Carrito</a></li>
        <li><a href="login.html">Cuenta</a></li>
      </ul>
    </div>
  </header>


  <main>
    <!-- contenedor para acciones de busqueda y agregar -->
    <div class="container acciones">
      <div class="row">
        <div class="col s10 m8 offset-m1">
          <nav>
            <div class="nav-wrapper">
              <form>
                <div class="input-field">
                  <input char id="search" type="search" required>
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </nav>
        </div>
        <div class="col s2 m2">
          <a href="#modal-usuarios" class="waves-effect waves-light btn-large tooltipped modal-trigger"
            data-position="right" data-tooltip="Agregar un usuario"><i class="material-icons">add_shopping_cart</i></a>
        </div>
      </div>
    </div>
    <!-- Tabla de pedidos -->
    <div class="container">
      <div class="row">
        <div class="col m12 tabla">
          <table class="responsive-table highlight ">
            <thead>
              <!-- Contenido de tabla -->
              <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Cliente</th>
                <th>Estado</th>
                <th>Direccion</th>
                <th>Fecha</th>
                <th>Acciones</th>
              </tr>
            </thead>

            <tbody id="tbody-rows"></tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Componente Modal para guardar un registro -->
    <div id="save-modal" class="modal">
      <!-- Enlace para cerrar el componente Modal -->
      <div class="row right">
        <a class="black-text tooltipped modal-close" data-tooltip="Cerrar">
          <i class="small material-icons">close</i>
        </a>
      </div>
      <!-- Contenido del componente Modal -->
      <div class="modal-content">
        <!-- Título para la caja de diálogo -->
        <h4 id="modal-title" class="center-align"></h4>
        <!-- Formulario para crear o actualizar un registro -->
        <form class="row" method="post" id="save-form" enctype="multipart/form-data">
          <!-- Campo oculto para asignar el id del registro al momento de modificar -->
          <input class="hide" type="number" id="id" name="id">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">note_add</i>
            <input id="codigo" type="text" name="codigo" class="validate" required>
            <label for="codigo">Codigo de pedido</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">description</i>
            <input id="descripcion" type="text" name="descripcion" class="validate" required>
            <label for="descripcion">Descripción</label>
          </div>
          <div class="input-field col s12 m6">
            <select id="cliente" name="cliente">
            </select>
            <label>Cliente</label>
          </div>
          <div class="input-field col s12 m6">
            <select id="estado" name="estado">
            </select>
            <label>Estado</label>
          </div>
          <div class="col s12 m6">
            <label>Fecha de creacion</label>
            <input type="text" class="datepicker">
          </div>
          <div class="col s12 center-align">
            <button type="reset" class="btn waves-effect grey tooltipped" data-tooltip="Reiniciar">
              <i class="material-icons">autorenew</i>
            </button>
            <button type="submit" class="btn waves-effect blue tooltipped" data-tooltip="Guardar">
              <i class="material-icons">save</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>


  <!-- Footer -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <a href="about-us.html">
            <h5 class="white-text">Dashboard footer</h5>
          </a>
        </div>
      </div>
    </div>
    <div class=" footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/dnlhernandez_" target="_blank">More
          Links</a>
      </div>
    </div>
  </footer>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
  <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
  <script type="text/javascript" src="../../controllers/components.js"></script>
  <script type="text/javascript" src="../../resources/js/inicializar_dashboard.js"></script>
  <script type="text/javascript" src="../../controllers/dashboard/order.js"></script>
</body>

</html>