<!DOCTYPE html>
<!-- definicion del lenguaje del sitio -->
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->

  <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../../resources/css/diseño_priv.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../../resources/css/dashboard.css" media="screen,projection" />

  <!--Titulo de pagina-->
  <title>Productos</title>
</head>

<body>
  <main>
<!-- Menu tipo Navbar  -->
<header>
  <!-- etiqueta para menu -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="../../resources/img/logos/2.png" alt="" width="80px" height="80px"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Inicio de la página"><i
                class="material-icons">arrow_upward</i></a></li>
          <li><a href="profile.html" class="tooltipped" data-position="bottom" data-tooltip="Perfil del usuario"><i
                class="material-icons">account_circle</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>


    <!-- contenedor para acciones de busqueda y agregar -->
    <div class="container acciones">
      <div class="row">
        <div class="col s10 m8 offset-m1">
          <nav>
            <!-- barra de busqueda -->
            <div class="nav-wrapper">
              <form id="search-form">
                <div class="input-field">
                  <input char id="search" type="search" required>
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </nav>
        </div>
        <div class="col s2 m2">
          <!-- boton de agregar -->
          <a onclick="openCreate()" class="waves-effect waves-light btn-large tooltipped" data-position="right"
            data-tooltip="Agregar un producto"><i class="material-icons">person_add</i></a>
        </div>
      </div>
    </div>
    <!-- Contenido de las cartas -->
    <div class="row" id="records"></div>
    <div class="row" id="productos"></div>

    <!-- ventana modal para scrud productos -->
    <div id="save-modal" class="modal">
      <div class="modal-content">
        <div class="row">
          <h4 id="modal-title"></h4>
          <form class="col s12" method="post" id="save-form" enctype="multipart/form-data">
            <input class="hide" type="number" id="id" name="id">
            <div class="row">
              <!--Text imput Productos -->
              <div class="input-field col s12 m6">
                <input id="Producto" type="text" class="validate">
                <label for="Producto">Producto</label>
              </div>
              <!--Text imput Codigo -->
              <div class="input-field col s12 m6">
                <input id="Codigo" type="text" class="validate">
                <label for="Codigo">Codigo</label>
              </div>
            </div>
            <div class="row">
              <!--Text imput Dimenciones -->
              <div class="input-field col s12 m6">
                <input id="Dimenciones" type="text" class="validate">
                <label for="Dimenciones">Dimenciones</label>
              </div>
              <!--Text imput Precio -->
              <div class="input-field col s12 m6">
                <input id="Precio" type="text" class="validate">
                <label for="Precio">Precio</label>
              </div>
            </div>
            <div class="row">
              <!--Text imput Descripcion -->
              <div class="input-field col s12 m6">
                <input id="Descripcion" type="text" class="validate">
                <label for="Descripcion">Descripcion</label>
              </div>
              <!--Select tipo de producto-->
              <div class="input-field col s12 m6">
                <select>
                  <option value="" disabled selected>Tipo de producto</option>
                  <option value="1">Sala</option>
                  <option value="2">Comedor</option>
                  <option value="3">Jardion</option>
                  <option value="4">Gamer</option>
                  <option value="5">Habitacion</option>
                </select>
                <label>Tipo de Producto</label>
              </div>
            </div>
            <div class="row">
              <!--Select tipo de material-->
              <div class="input-field col s12 m6">
                <select>
                  <option value="" disabled selected>Tipo de Material</option>
                  <option value="1">Madera</option>
                  <option value="2">Metal</option>
                  <option value="3">Jardion</option>
                </select>
                <label>Tipo de Material</label>
              </div>
              <div class="input-field col s12 m6">
                <select>
                  <option value="" disabled selected>Seleccione un proveedor</option>
                  <option value="1">Madera</option>
                  <option value="2">Metal</option>
                  <option value="3">Jardion</option>
                </select>
                <label>Proveedor</label>
              </div>
              <form action="#">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Foto</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <!-- Switch -->
              <div class="switch">
                <label>
                  Inexistente
                  <input type="checkbox">
                  <span class="lever"></span>
                  Existente
                </label>
              </div>
            </div>
            <div class="col s12 center-align">
              <div class="modal-footer">
                <button type="close" class=" modal-close btn tooltipped" data-tooltip="Regresar">Descartar</button>
                <button type="submit" class=" btn  tooltipped" data-tooltip="Guardar">Guardar</button>
                <!-- <button type="submit" class=" btn  tooltipped"
                      data-tooltip="Agregar">Agregar</button> -->
              </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>

  </main>

  <!-- Footer -->
  <footer class="page-footer"> </footer>


  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
  <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
  <script type="text/javascript" src="../../resources/js/inicializar_dashboard.js"></script>
  <script type="text/javascript" src="../../contollers/components.js"></script>
  <script type="text/javascript" src="../../contollers/dashboard/products.js"></script>
</body>

</html>