<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../resources/css/dashboard.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proveedores</title>
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="main.html" class="brand-logo"><img src="../../resources/img/logos/2.png" alt=""></a>
                    <a href="#" data-target="menu-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Inicio de la página"><i
                                    class="material-icons">arrow_upward</i></a></li>
                        <li><a href="login.html" class="tooltipped" data-position="bottom"
                                data-tooltip="Perfil del usuario"><i class="material-icons">account_circle</i></a></li>
                    </ul>
                </div>
            </nav>
            <!-- menu para dispositivos con pantalla pequeña -->
            <ul class="sidenav" id="menu-mobile">
                <li><a href="catalogue.html">Catalogo</a></li>
                <li><a href="shopping_cart.html">Carrito</a></li>
                <li><a href="login.html">Cuenta</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container acciones">
            <div class="row">
                <div class="col s10 m8 offset-m1">
                    <nav>
                        <div class="nav-wrapper">
                            <form id="search-form">
                                <div class="input-field">
                                    <input char id="search" name="search" type="search" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
                <div class="col s2 m2">
                    <!-- boton de agregar -->
                    <a onclick="openCreate()" class="waves-effect waves-light btn-large tooltipped"
                        data-position="right" data-tooltip="Agregar un proveedor"><i
                            class="material-icons">playlist_add</i></a>
                </div>
            </div>
        </div>
        <!-- contenido de la tabla -->
        <div class="container">
            <div class="row">
                <div class="col m12 tabla">
                    <table class="responsive-table highlight">
                        <thead>
                            <tr id="records"></tr>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-rows">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- contenedor para ventana modal -->
        <div id="save-modal" class="modal">
            <div class="modal-content">
                <h4 id="modal-title"></h4>
                <div class="row">
                    <form class="col s12" method="post" id="save-form" enctype="multipart/form-data">
                        <input class="hide" type="number" id="id" name="id">
                        <div class="row">
                            <!--Text imput proveedores -->
                            <div class="input-field col s12 m6">
                                <input id="nombre" type="text" name="nombre" class="validate" required>
                                <label for="nombre">Nombre</label>
                            </div>
                            <!--Text imput direccion -->
                            <div class="input-field col s12 m6">
                                <input id="direccion" type="text" name="direccion" class="validate" required>
                                <label for="direccion">Dirección</label>
                            </div>
                            <!--Text imput correo -->
                            <div class="input-field col s12 m9">
                                <input id="correo" type="email" name="correo" class="validate" required>
                                <label for="correo">Correo</label>
                            </div>
                            <!--Text imput telefono -->
                            <div class="input-field col s12 m3">
                                <input id="telefono" type="number" maxlength="9" name="telefono" class="validate"
                                    required>
                                <label for="telefono">Teléfono</label>
                            </div>
                            <!--Acciones -->
                            <div class="col s12 center-align">
                                <div class="modal-footer ">
                                    <button type="submit"
                                        class=" waves-effect waves-green btn-flat guardar tooltipped"
                                        data-tooltip="Guardar"><i class="material-icons">save</i></button>
                                    <button type="close"
                                        class="modal-close waves-effect waves-green btn-flat salir tooltipped"
                                        data-tooltip="Regresar"><i class="material-icons">exit_to_app</i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- contenedor para tabla -->

    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <a href="about-us.html">
                        <h5 class="white-text">Dashboard footer</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class=" footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/dnlhernandez_"
                    target="_blank">More
                    Links</a>
            </div>
        </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../resources/js/inicializar_dashboard.js"></script>
    <script type="text/javascript" src="../../contollers/components.js"></script>
    <script type="text/javascript" src="../../contollers/dashboard/suppliers.js"></script>
</body>

</html>