.Categorias{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;  
  text-align: center;
  font-family: Arial;
  }

.wrapper{
  float: left;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  background-color: #e0e0e0;
}
.card{
  float: left;
  width:210px;
  background-color: #e0e0e0;
}
.sidenav-trigger{
  float: left;
}

#search-container{
  width: 170px;
}
