.card {
    background-color: #e0e0e0;
}

#search-container {
<<<<<<< HEAD
    width: 150px;
=======
    width: 200px;
    margin-left: 30px;
}

#buttons{
    margin-left: 30px;
}


#card-content{
    margin-right: 50px;
>>>>>>> rama_alec
}

.button-value {
    margin-top: 5px;
    margin-right: 30px;
}

img {
    height: 220px;
}

<<<<<<< HEAD
.wrapper {
    float: left;
    width: 160px;
    height: 280px;
    margin-top: 10px;
    background-color: #e0e0e0;
=======
.nav-wrapper{
    background-color: #1a120b !important;
}

.page-footer{
    background-color: #1a120b !important;
>>>>>>> rama_alec
}

.sidenav-trigger {
    float: left;
}

.button-value {
    margin-top: 5px;
<<<<<<< HEAD
    margin-right: 30px;
}
=======
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    max-width: 300px;
    width: 160px;
    text-align: center;
    font-family: Arial;
    background-color: #ffff;
    color: #353433;
    border: 0px;
}

.encabezado{
    color: gray;
}

#search{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial;
    width: 200px;
    text-align: center;
    background-color: white;
    color: #353433;
    border: 0px;
}

.card:hover{
    box-shadow: #1a120b;
}
>>>>>>> rama_alec
