body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.brand-logo{
  width: 150px;
  height: 150px;
  margin-top: -3%;
  margin-left: -25%;
}

.Categorias {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: Arial;
}

.Menu {
  margin: auto;
  text-align: center;
  font-family: Arial;
}

