.Categorias{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
<<<<<<< HEAD:resources/css/Diseño_main.css
  margin: auto;  
  text-align: center;
  font-family: Arial;
}
=======
  margin: auto;
  text-align: center;
  font-family: Arial;
}

.Menu {
  margin: auto;
  text-align: center;
  font-family: Arial;
}

>>>>>>> rama_alec:resources/css/catalogo_2.css
