.card {
    background-color: #e0e0e0;
}

#search-container {
    width: 150px;
    margin-left: 50px;
}

#buttons{
    margin-left: 50px;
}

#card-content{
    margin-right: 50px;
}

.button-value {
    margin-top: 5px;
    margin-right: 30px;
}

img {
    height: 220px;
}

.nav-wrapper{
    background-color: #1a120b !important;
}

.page-footer{
    background-color: #1a120b !important;
}

.sidenav-trigger {
    float: left;
}

.button-value {
    margin-top: 5px;
    margin-right: 30px;
    max-width: 300px;
    width: 160px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: Arial;
}

#search{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial;
    width: 160px;
    text-align: center;
}