/* ajustes de diseño para el cuerpo de la pagina */
body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper, .page-footer{
    background-color: #1a120b;
}

.acciones{
    margin-top: 5%;
    margin-bottom: 1%;
}

.guardar{
    background-color: #cfd8dc;
}

.eliminar{
    background-color: #cfd8dc;
}

.salir{
    background-color: #cfd8dc;
}

.guardar:hover{
    background-color: #66bb6a;
}

.eliminar:hover{
    background-color: #ef5350;
}

.salir:hover{
    background-color: #ffee58;
}