.nav-wrapper{
    background-color: #1a120b;
}

.acciones{
    margin-top: 5%;
    margin-bottom: 5%;
}

.guardar:hover{
    background-color: #66bb6a;
}

.salir:hover{
    background-color: #ffee58;
}