body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.nav-wrapper, .page-footer{
    background-color: #1a120b;
}

.oferta{
    text-align: center;
    display: flex;
    align-items: center;
}

.card:hover{
    box-shadow: #1a120b;
}