.card-horizontal {
    font-family: Arial;
    background-color: #e0e0e0;
}

.nombre {
    font-size: x-large;
    font-style: italic;
}

.nav-wrapper, .page-footer{
    background-color: #1a120b !important;
}


.precio {
    font-size: large;
}

.descripcion {
    font-size: small;
}

.total {
    font-size: large;
    text-align: center;
}

.pago {
    float: right;
    height: 30px;
    border: 0px;
    border-radius: 4px;
    background-color: #00acc1;
    color: white;
}

.precio {
    float: right;
}

.cantidad {
    float: right;
}

.detalle-cantidad{
    border: 1px solid black;
    background-color: #00acc1;
    color: white;
    border: 0px;
    border-radius: 4px;
    width: 35px;
}

.card-image {
    width: 200px;
}