.Categorias{
  box-shadow: 4px 4px 4px 4px rgba(147, 147, 147, 0.2);
  max-width: 700px;
  margin: 5px;
  margin-top: 30px;
  border-radius: 0;  
  text-align: center;
  font-family: Arial;
  }

.Menu{
  margin: auto; 
  text-align: center;
  font-family: Arial;
}

.config_btn
