<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/resources/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/resources/css/about-us.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo"><img src="/resources/img/2.png" alt="" width="80px" height="80px"></a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Inicio de la página"><i class="material-icons">arrow_upward</i></a></li>        
                    <li><a href="shopping_cart.html" class="tooltipped" data-position="bottom" data-tooltip="Carrito de compras"><i class="material-icons">shopping_cart</i></a></li>
                    <li><a href="login.html" class="tooltipped" data-position="bottom" data-tooltip="Perfil del usuario"><i class="material-icons">account_circle</i></a></li>
                  </ul>
                </div>
              </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <h1 class="titulo">¿Qué es Lignum?</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col s12 m6 texto-1">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur expedita corrupti aut ipsam veniam ad, tempora, laborum aperiam sapiente assumenda praesentium laboriosam distinctio voluptatum ratione obcaecati non eveniet eum amet!</p>
                </div>
                <div class="col s12 m6 texto-2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur expedita corrupti aut ipsam veniam ad, tempora, laborum aperiam sapiente assumenda praesentium laboriosam distinctio voluptatum ratione obcaecati non eveniet eum amet!</p>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Sobre lignum</h5>
              <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, ipsum magnam quam nesciunt ratione molestias laboriosam. Magnam in, earum quod nam aliquam, minus debitis quidem eveniet et unde tempore quam.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Redes sociales</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/dnlhernandez_" target="_blank">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/dnlhernandez_" target="_blank">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/dnlhernandez_" target="_blank"">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/dnlhernandez_" target="_blank"">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/dnlhernandez_" target="_blank">More Links</a>
          </div>
        </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/inicializar.js"></script>
  </body>
</html>