<!DOCTYPE html>
<html lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/resources/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/resources/css/public.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-- etiqueta de header -->
    <header>
        <!-- menu -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- contenido principal de la página -->
    <main>
        <div class="container">
            <div class="row">
                <h1 class="text center">Bienvenido</h1>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s4 offset-s4">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="usuario" type="text" class="validate">
                            <label for="usuario">Usuario</label>
                        </div>
                        <div class="input-field col s4 offset-s4">
                            <i class="material-icons prefix">lock</i>
                            <input id="clave" type="password" class="validate">
                            <label for="clave">Clave</label>
                        </div>
                    </div>
                </form>
                <div class="col s12 center-align">
                    <button type="submit" class="waves-effect waves-light btn-large blue darken-4"><i
                        class="material-icons">send</i></button>
                    </button>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Dashboard footer</h5>
                </div>
            </div>
        </div>
        <div class=" footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/dnlhernandez_"
                    target="_blank">More
                    Links</a>
            </div>
        </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/resources/js/materialize.min.js"></script>
</body>

</html>