<!DOCTYPE html>
<!--Definicion del lenguaje-->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import de hojas de estilo-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../../resources/css/public.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Titulo de la ventana-->
    <title>Valoracion</title>
</head>

<body>
    <!--Etiqueta del header-->
    <header></header>
    <!--Etiqueta main-->
    <main class="container">
        <div class="container">
            <div class="row">
                <div class="col m12 tabla">
                    <table class="responsive-table highlight ">
                        <thead>
                            <!-- Contenido de tabla -->
                            <tr id="records"></tr>
                            <tr>
                                <th>Foto</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Categoria</th>
                                <th>Fecha</th>
                                <th>Crear</th>
                            </tr>
                        </thead>
                        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                        <tbody id="tbody-rows"></tbody>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <!--Etiqueta footer-->
    <footer></footer>

    <!--Link con archivos js-->
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/public/account.js"></script>
    <script type="text/javascript" src="../../controllers/public/rating.js"></script>
</body>

</html>