<!DOCTYPE html>
<!--Definicion del lenguaje-->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import de hojas de estilo-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../../resources/css/public.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Titulo de la ventana-->
    <title>Carrito</title>
</head>



<body>
    <!--Etiqueta del header-->
    <header>
        <!--Barra de navegacion-->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="index.html" class="brand-logo"><img src="../../resources/img/logos/2.png" alt=""></a>
                    <a href="#" data-target="menu-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Inicio de la página"><i
                                    class="material-icons">arrow_upward</i></a></li>
                        <li><a href="catalogue.html" class="tooltipped" data-position="bottom"
                                data-tooltip="Catalogo"><i class="material-icons">library_books</i></a></li>
                        <li><a href="shopping_cart.html" class="tooltipped" data-position="bottom"
                                data-tooltip="Carrito de compras"><i class="material-icons">shopping_cart</i></a></li>
                        <li><a href="login.html" class="tooltipped" data-position="bottom"
                                data-tooltip="Cuenta de usuario"><i class="material-icons">account_circle</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- menu para dispositivos con pantallas pequeñas -->
        <ul class="sidenav" id="menu-mobile">
            <li><a href="catalogue.html">Catalogo</a></li>
            <li><a href="shopping_cart.html">Carrito</a></li>
            <li><a href="login.html">Cuenta</a></li>
        </ul>
    </header>
    <!--Etiqueta main-->
    <main>
        <!--Total y pago-->
        <h3 class="center-align">Pedidos</h3>
        <div class="row" id="pedido"></div>
    </main>

    <!--Etiqueta footer-->
    <footer class="page-footer"> </footer>

    <!--Link con archivos js-->
    <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/dashboard/account.js"></script>
    <script type="text/javascript" src="../../controllers/public/shopping_card.js"></script>
</body>

</html>