<!DOCTYPE html>
<!--Definicion del lenguaje-->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import de hojas de estilo-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../../resources/css/Diseño_main.css">
    <link rel="stylesheet" href="../../resources/css/shopping_cart.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Titulo de la ventana-->
    <title>Carrito</title>
</head>

<!--Etiqueta del header-->
<header>
    <!--Barra de navegacion-->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img src="../../resources/img/2.png" alt="" width="80px"
                        height="80px"></a>
                <a href="#" data-target="menu-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Inicio de la página"><i
                                class="material-icons">arrow_upward</i></a></li>
                    <li><a href="catalogue.html" class="tooltipped" data-position="bottom" data-tooltip="Catalogo"><i
                                class="material-icons">library_books</i></a></li>
                    <li><a href="shopping_cart.html" class="tooltipped" data-position="bottom"
                            data-tooltip="Carrito de compras"><i class="material-icons">shopping_cart</i></a></li>
                    <li><a href="login.html" class="tooltipped" data-position="bottom"
                            data-tooltip="Cuenta de usuario"><i class="material-icons">account_circle</i></a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="menu-mobile">
            <li><a href="catalogue.html">Catalogo</a></li>
            <li><a href="shopping_cart.html">Carrito</a></li>
            <li><a href="login.html">Cuenta</a></li>
        </ul>
    </div>
</header>

<body>

    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <!--Etiqueta main-->
    <main>
        <!--Total y pago-->
        <div class="container">
            <div class="col s12 m7">
                <div class="card horizontal">
                    <div class="card-image">
                        <p class="total">Total: $##.##</p>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <button class="pago">Proceder al pago</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row">
              <div class="col m12 tabla">
                <table class="responsive-table highlight ">
                  <thead>
                    <!-- Contenido de tabla -->
                    <tr>
                      <th>Producto</th>
                      <th></th>
                      <th>Usuario</th>
                      <th>Cantidad</th>
                      <th>Total</th>
                      <th>Estado del pedido</th>
                      <th>Detalles</th>
                    </tr>
                  </thead>
      
                  <tbody>
                    <!-- Datos de tabla -->
                    <tr>
                      <td>4</td>
                      <td>4</td>
                      <td>OmarRivas</td>
                      <td>2</td>
                      <td>$50.00</td>
                      <!-- swith de estado de pedido -->
                      <td>
                        <div class="switch">
                          <label>
                            En proceso
                            <input type="checkbox">
                            <span class="lever"></span>
                            Terminado
                          </label>
                        </div>
                      </td>
                      <!-- Boton de detalle -->
                      <td><a class="waves-effect waves-light btn  modal-trigger" href="#Detalles"><Label
                            class="Detalle">Detalles</Label></a></td>
                      <td><a class="waves-effect waves-light btn  modal-trigger" href="#Detalles"><Label
                        class="Detalle">Editar</Label></a></td>
                      <td><a class="waves-effect waves-light btn  modal-trigger" href="#Detalles"><Label
                        class="Detalle">Eliminar</Label></a></td>
                    </tr>
                   

    </main>

     <!--Etiqueta footer-->
    <footer>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Sobre lignum</h5>
                        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Dolorem, ipsum magnam quam nesciunt ratione molestias laboriosam. Magnam in, earum quod nam
                            aliquam, minus debitis quidem eveniet et unde tempore quam.
                            content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/dnlhernandez_">Link
                                    1</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/dnlhernandez_">Link
                                    2</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/dnlhernandez_">Link
                                    3</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/dnlhernandez_">Link
                                    4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/dnlhernandez_">More
                        Links</a>
                </div>
            </div>
        </footer>
    </footer>

    <!--Link con archivos js-->
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/inicializar.js"></script>
</body>

</html>